:root { 
    --background_color: #0D3D00;
    --font_color: white;
}

body {
    background-color: var(--background_color);
    color: var(--font_color);
    margin-left: 20%;
    margin-right: 20%;
}


.front { 
    margin-top: 20%;
    display: flex;

}

.name { 
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
}


/* Nav for the landing page */
#landing-nav { 

    margin-left: 30px;
    font-size: 30px;
    height: 100%;
    width: 50%;
}

/* #landing-nav  > ul { 
    padding: 0.5vw;
    background-color: beige;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
} */

#landing-nav li a { 
    font-size: 21px;
    padding: 0.5vw;
    display: inline;
    text-decoration: none;
    color: var(--font_color);
}

#landing-nav li a:hover { 
    color: #FFDE58;
    background-color: black;
}

/* Nav for non-Home pages */
#top-right-nav { 
    margin-left: -2.5%;
    width: 50%;
}

#top-right-nav ul { 
    padding: 0.5vw;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

#top-right-nav li a { 
    color: var(--font_color);
    font-size: 21px;
    padding: 0.5vw;
    display: inline;
    text-decoration: none;
}

#top-right-nav li a:hover { 
    color: gold;
    background-color: black;
}



.projects-gallery a { 
    text-decoration: none !important;
}

#projects-section { 
    background-color: #166E01;
    border: 10px solid white;
    padding: 20px;
    text-decoration: none;
}

#projects-section h2 { 
    margin-top: 0;
    text-decoration: none;
}
  
.projects-gallery { 
    display: block;
}

.project-tile { 
    background-color: #1A8400;
    border: 10px solid white;
    padding: 2vh;
    margin: 3vh;
}

.project-tile h2 { 
    margin-left: 10%;
    color: white;
}

.project-tile p { 
    margin-left: 10%;
    color: white;
}

.project-tile:hover > h2 { 
    color: black;
}

.project-tile:hover > p { 
    color: black;
}

.project-tile:hover { 
    background-color: #CEFFC1;
    color: black;
}

.project-tile img { 
    margin-left: 10%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center bottom;
    border: 1px solid black;
}


.resume-section { 
    border: 10px solid white;
    padding: 20px;
    background-color: #166E01;
}

.resume-section a {
    color: white;
}

.download {
    margin-top: -5px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.download h2  {
    font-size: 30px;
    margin-right: 10px;
}



.links {
    margin-top: -10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.links i { 
    margin: 0 10px;
}

.links i:hover { 
    color: var(--background_color);
}

.Service { 
    border: 10px solid white;
    padding: 20px;
    background-color: #166E01;
}

.Service a {
    color: white;
}

.ai { 
    border: 10px solid white;
    padding: 20px;
    background-color: #166E01;
}

.ai a {
    color: white;
}



.toggle { 
    margin-left: 15%;
    text-align: center;
}

.toggle-button { 

    display: flex;
    align-items: center;
}

.toggle button { 
    margin-left: 20px;
    font-size: 20px;
}