@font-face {
    font-family: "script";
    src: url("Fonts/SAMAN.TTF") format("opentype");
    font-weight: 900;
}

/* * { border: 1px solid white; } */

:root { 
    --background_color: #0D3D00;
    --background_color2: #166E01;
    --background_color3: #1A8400;
    /* --background_color: #33005F;
    --background_color2: #4D0090;
    --background_color3: #6400BC; */
    --font_color: white;
    --highlight_color: gold;
}

/* 
---------------------------------
          LANDING PAGE 
---------------------------------
*/

body {
    color: var(--font_color);
    margin-left: 20%;
    margin-right: 20%;
}

#landing-body { 
    height: 80vh;
    background: linear-gradient(45deg, orange, purple);
}

.front { 
    margin-top: 23%;
    display: flex;
    align-items: center;
}

.name { 
    font-family: "script", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: -5%;
    width: 100%;
    height: 100%;
    font-size: 69px;
    display: flex;
    justify-content: space-evenly;
}

.name:hover { 
    color: var(--highlight_color);
}

#simon {
    font-family: "script";
}

#landing-nav { 
    margin-top: -2%;
    margin-left: 4%;
    font-size: 30px;
    height: 100%;
    width: 50%;
}

#landing-nav ul { 
    list-style: none;
}

#landing-nav li a { 
    font-family: 'Times New Roman', serif;
    font-size: 21px;
    padding: 0.5vw;
    display: inline;
    text-decoration: none;
    color: var(--font_color);
}

#landing-nav li a:hover { 
    color: var(--highlight_color);
    /* font-family: 'script'; */
    /* background-color: black; */
}

#title-button { 
    cursor: pointer;
}

/* 
---------------------------------
          OTHER PAGES 
---------------------------------
*/

#page-title { 
    font-family: "script", Cambria;
    font-size: 50px;
    margin: 0 auto;
    margin-top: 15px;
}

#page-title:hover {
    color: var(--highlight_color);
}


#top-right-nav { 
    margin-left: -2.5%;
    width: 50%;
}

#top-right-nav ul { 
    padding: 0.5vw;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

#top-right-nav li a { 
    color: var(--font_color);
    font-size: 21px;
    padding: 0.5vw;
    display: inline;
    text-decoration: none;
}

#top-right-nav li a:hover { 
    color: var(--highlight_color);
}

/* 
---------------------------------
          PROJECTS PAGE 
---------------------------------
*/

#projects-body { 
    background-color: #690000;
}

.projects-gallery a { 
    text-decoration: none !important;
}

#projects-section { 
    background-color: #8D0000;
    border: 10px solid white;
    padding: 20px;
    text-decoration: none;
}

#projects-section h2 { 
    margin-top: 0;
    text-decoration: none;
}
  
.projects-gallery { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-tile { 
    background-color: #B50000;
    border: 10px solid white;
    padding: 2vh;
    margin: 3vh;
    width: 300px;

}

.project-tile h2 { 
    text-align: center;
    color: white;
}

.project-tile p { 
    font-size: 0;
    margin-left: 50px;
    color: white;
}

.project-tile img { 
    margin-left: 50px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center bottom;
    border: 2px solid white;
}

.project-tile:hover { 
    background-color: white;
    color: black;
    border: 10px solid black;
}

.project-tile:hover > h2 { 
    color: black;
}

.project-tile:hover > p { 
    color: black;
}

.project-tile:hover > img {
    border: 2px solid black;
}

/* 
---------------------------------
           RESUME PAGE 
---------------------------------
*/

#resume-body {
    background-color: #54004C;
}

.resume-section { 
    border: 10px solid white;
    padding: 20px;
    background-color: #720066;
}

.resume-section a {
    color: white;
}

.download {
    margin-top: -5px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.download h2  {
    font-size: 30px;
    margin-right: 10px;
}

.resume { 
    height: 1000px;
    width: 100%;
}

.links {
    margin-top: -10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.links i { 
    margin: 0 10px;
}

.links i:hover { 
    color: var(--background_color);
}

/* 
---------------------------------
           ABOUT PAGE 
---------------------------------
*/

#about-body { 
    background-color: #623800;
}

.Service { 
    border: 10px solid white;
    padding: 20px;
    background-color: #8B4F00;
}

.Service a {
    color: white;
}

/* 
---------------------------------
           LIBRARY PAGE 
---------------------------------
*/

#library-body { 
    background-color: #00636E;
}

.ai { 
    border: 10px solid white;
    padding: 20px;
    background-color: #007F8D;
}

.ai a {
    color: white;
}





/* @keyframes fade { 
    from {
        --background-color: black;
    }
    to {
        --background-color: green;
    }
} */