h1 { 
    display: block;
    font-size: min(28vh, 28vw);
    color: red;
    margin-top: -5vh;
    margin-bottom: 0;
    text-align: center;
}

/* .name { 
    background-color: lightblue;
    position: fixed;
    top: 0;
    margin-left: 25vw;
    margin-right: 25vw;
} */


nav { 
    background-color: red;
    position: fixed;
    top: 50vh;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50%;
}

ul { 
    background-color: green;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

li a { 
    display: block;
    
}

li::after { 
    content: "";
}