:root {
    --label-color: black;
    --background-color: white;
}

body, html { 
    overflow: hidden;
}

body { 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.name { 
    margin-top: 10vh;
}

h1 { 
    background-color: var(--background-color);
    color: var(--label-color);
    display: block;
    font-size: min(28vh, 28vw);
    margin-top: -3vh;
    margin-bottom: 0;
    text-align: center;
}



nav { 
    background-color: red;

    margin-top: 5vh;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50%;
}

ul { 
    padding: 0.5vw;
    background-color: beige;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

li a { 
    padding: 0.5vw;
    display: inline;
    text-decoration: none;
    color: black;
    /* margin-left: 1vw;
    margin-right: 1vw; */
}

li a:hover { 
    color: gold;
    background-color: black;
}




@media (max-width: 800px) {
    :root {
        --label-color: purple;
        /* --label-color: white;
        --background-color: black; */
    }
}

