:root {
    --label-color: black;
    --background-color: white;
}
 
/* body, html { 
    overflow: hidden;
} */

body { 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.top { 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    height: 120px;
}


.name { 
    margin-top: 10vh;
}

h1 { 
    background-color: var(--background-color);
    color: var(--label-color);
    display: block;
    font-size: min(28vh, 28vw);
    margin-top: -3vh;
    margin-bottom: 0;
    text-align: center;
}

#page-title { 
    font-size: 7vw;
    color: black;
    margin-left: 3vw;
    background-color: beige;
}

/* Nav for the landing page */
#landing-nav { 
    background-color: red;
    margin-top: 5vh;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50%;
}

#landing-nav  > ul { 
    padding: 0.5vw;
    background-color: beige;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

#landing-nav li a { 
    font-size: 21px;
    padding: 0.5vw;
    display: inline;
    text-decoration: none;
    color: black;
}

#landing-nav li a:hover { 
    color: #FFDE58;
    background-color: black;
}

/* Nav for non-Home pages */
#top-right-nav { 
    width: 50%;
}

#top-right-nav ul { 
    padding: 0.5vw;
    background-color: beige;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

#top-right-nav li a { 
    font-size: 21px;
    padding: 0.5vw;
    display: inline;
    text-decoration: none;
    color: black;
}

#top-right-nav li a:hover { 
    color: gold;
    background-color: black;
}


.projects-gallery a { 
    text-decoration: none !important;
}

#projects-section { 

    background-color: white;
    text-decoration: none;
}

#projects-section h2 { 
    margin-top: 0;
    text-decoration: none;
}
  
.projects-gallery { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-tile { 
    border: 1px solid black;
    background-color: beige;
    padding: 2vh;
    margin: 3vh;
}

.project-tile h2 { 
    color: #1E1E1E;
}

.project-tile p { 
    color: #1E1E1E;
}

.project-tile:hover > h2 { 
    color: gold;
}

.project-tile:hover > p { 
    color: white;
}

.project-tile:hover { 
    background-color: grey;
    color: gold;
}

.project-tile img { 
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center bottom;
    border: 1px solid black;
}

.resume-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left { 
    color: black;
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;
}

.left h2 { 
    margin-bottom: -5px;
    margin-left: 30px;
}

.download {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.download h2  {
    font-size: 30px;
    margin: 0 50px;
}

.right { 
    width: 50%;
}

.right img { 
    width: 100%;
    margin: 40px auto;
    margin-left: 20px;
}

.ai { 
   padding: 30px;
   font-size: 20px
}

.Service {  
    padding: 30px;
}

.Service h2 { 
    font-size: 50px;
}

.Service p { 
    font-size: 20px;
}

.toggle { 
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.toggle-button { 
    margin-left: 25%;
    display: flex;
    align-items: center;
}

.toggle button { 
    margin-left: 20px;
    font-size: 20px;
}


@media (max-width: 800px) {
    :root {
        --label-color: purple;
    }
}

