:root {
    --background-color: white;
}


body { 
    margin: 0;
    padding: 0;

}

.top { 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    height: 120px;
    /* border-bottom: 3px solid black; */
}


h1 { 
    font-size: 7vw;
    color: black;
    margin-left: 3vw;
    /* margin-top: 10px; */
}

nav { 
    /* background-color: red; */
    width: 50%;
}

ul { 
    padding: 0.5vw;
    background-color: beige;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

li a { 
    font-size: 21px;
    padding: 0.5vw;
    display: inline;
    text-decoration: none;
    color: black;
    /* margin-left: 1vw;
    margin-right: 1vw; */
}

li a:hover { 
    color: gold;
    background-color: black;
}


#projects-section { 

    background-color: white;

}

#projects-section h2 { 
    margin-top: 0;
}
  
.projects-gallery { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-tile { 
    border: 1px solid black;
    background-color: beige;
    padding: 2vh;
    margin: 3vh;
}

.project-tile h2 { 
    text-decoration: none;
    color: black;
}

.project-tile p { 
    text-decoration: none;
    color: black;
}

.project-tile:hover { 
    background-color: black;
}

.project-tile:hover > img { 
    border: 1px solid white;
}

.project-tile:hover > h2 { 
    text-decoration: none;
    color: gold;
}

.project-tile:hover > p { 
    text-decoration: none;
    color: gold;
}

  
.project-tile img { 
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center bottom;
    border: 1px solid black;
}